<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,289},{131,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,100}}</string>
                <key>sourceSize</key>
                <string>{131,100}</string>
            </dict>
            <key>asteroid2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,391},{115,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,96}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>asteroid3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,289},{138,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,108}}</string>
                <key>sourceSize</key>
                <string>{138,108}</string>
            </dict>
            <key>planet1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,333}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{340,333}}</string>
                <key>sourceSize</key>
                <string>{348,335}</string>
            </dict>
            <key>planet2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{314,306}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{314,306}}</string>
                <key>sourceSize</key>
                <string>{334,308}</string>
            </dict>
            <key>planet3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{285,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,295}}</string>
                <key>sourceSize</key>
                <string>{285,295}</string>
            </dict>
            <key>zone7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{336,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>galaxy7-hd.pvr.gz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977c2f7fa4065f9e66baf409662fef50$</string>
            <key>textureFileName</key>
            <string>galaxy7-hd.pvr.gz</string>
        </dict>
    </dict>
</plist>
