<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,449},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>asteroid2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>asteroid3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,449},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>planet1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,152}}</string>
                <key>sourceSize</key>
                <string>{172,152}</string>
            </dict>
            <key>planet2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{158,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,141}}</string>
                <key>sourceSize</key>
                <string>{158,141}</string>
            </dict>
            <key>planet3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,172},{157,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,154}}</string>
                <key>sourceSize</key>
                <string>{157,154}</string>
            </dict>
            <key>planet4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{163,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,107}}</string>
                <key>sourceSize</key>
                <string>{163,107}</string>
            </dict>
            <key>planet5-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{148,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,151}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>planet6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,328},{145,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,150}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>planet7-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,111},{147,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,161}}</string>
                <key>sourceSize</key>
                <string>{147,161}</string>
            </dict>
            <key>zone0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>galaxy0-hd.pvr.gz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da84189718b2b6af7a99a16de0689b78$</string>
            <key>textureFileName</key>
            <string>galaxy0-hd.pvr.gz</string>
        </dict>
    </dict>
</plist>
