<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,470},{124,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{124,94}</string>
            </dict>
            <key>asteroid2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,470},{114,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,91}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>asteroid3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,340},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>planet1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,643},{299,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,297}}</string>
                <key>sourceSize</key>
                <string>{299,297}</string>
            </dict>
            <key>planet2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{294,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,301}}</string>
                <key>sourceSize</key>
                <string>{294,301}</string>
            </dict>
            <key>planet3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{300,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{300,254}}</string>
                <key>sourceSize</key>
                <string>{310,260}</string>
            </dict>
            <key>zone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>galaxy2-hd.pvr.gz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc9cbc31aef1d6f88b192be2f832c709$</string>
            <key>textureFileName</key>
            <string>galaxy2-hd.pvr.gz</string>
        </dict>
    </dict>
</plist>
