<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,150},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>asteroid2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,199},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>asteroid3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,150},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>planet1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,323},{150,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>planet2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,323},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>planet3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{147,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,161}}</string>
                <key>sourceSize</key>
                <string>{147,161}</string>
            </dict>
            <key>planet4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{192,178}}</string>
                <key>sourceSize</key>
                <string>{216,200}</string>
            </dict>
            <key>planet5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{143,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{143,146}}</string>
                <key>sourceSize</key>
                <string>{157,162}</string>
            </dict>
            <key>planet6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{169,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{169,149}}</string>
                <key>sourceSize</key>
                <string>{191,165}</string>
            </dict>
            <key>zone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,153},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>galaxy1-hd.pvr.gz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:724b5ac63ccf8f3fcd1d21fcf3fa6e17$</string>
            <key>textureFileName</key>
            <string>galaxy1-hd.pvr.gz</string>
        </dict>
    </dict>
</plist>
