<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,966},{39,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,108}}</string>
                <key>sourceSize</key>
                <string>{39,108}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{50,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,108}}</string>
                <key>sourceSize</key>
                <string>{50,108}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,518},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,399},{117,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,108}}</string>
                <key>sourceSize</key>
                <string>{119,108}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,309},{117,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,108}}</string>
                <key>sourceSize</key>
                <string>{119,108}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,419},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,529},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,291},{109,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{109,106}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{116,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{117,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,108}}</string>
                <key>sourceSize</key>
                <string>{119,108}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,199},{117,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,108}}</string>
                <key>sourceSize</key>
                <string>{119,108}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,478},{61,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,108}}</string>
                <key>sourceSize</key>
                <string>{61,108}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,172},{117,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,108}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,856},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,854},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,529},{97,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,108}}</string>
                <key>sourceSize</key>
                <string>{97,108}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,309},{90,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,639},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,795},{71,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,108}}</string>
                <key>sourceSize</key>
                <string>{71,108}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,368},{61,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,108}}</string>
                <key>sourceSize</key>
                <string>{61,108}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,695},{50,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,108}}</string>
                <key>sourceSize</key>
                <string>{50,108}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,722},{71,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,108}}</string>
                <key>sourceSize</key>
                <string>{71,108}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,639},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,199},{90,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,419},{97,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,108}}</string>
                <key>sourceSize</key>
                <string>{97,108}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,748},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,635},{111,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>justthetip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,292}}</string>
                <key>sourceSize</key>
                <string>{168,292}</string>
            </dict>
            <key>magnetcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,748},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{180,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{180,97}}</string>
                <key>sourceSize</key>
                <string>{210,135}</string>
            </dict>
            <key>playeramerica.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{182,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{182,95}}</string>
                <key>sourceSize</key>
                <string>{212,135}</string>
            </dict>
            <key>playerarmor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{115,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{115,46}}</string>
                <key>sourceSize</key>
                <string>{129,60}</string>
            </dict>
            <key>playercamo.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,101},{182,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{182,96}}</string>
                <key>sourceSize</key>
                <string>{212,136}</string>
            </dict>
            <key>playerheadstart.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,588},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{61,68}}</string>
                <key>sourceSize</key>
                <string>{77,98}</string>
            </dict>
            <key>playermagnet.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,658},{56,35}}</string>
                <key>offset</key>
                <string>{52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,15},{56,35}}</string>
                <key>sourceSize</key>
                <string>{164,67}</string>
            </dict>
            <key>playertrippy.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{182,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{182,97}}</string>
                <key>sourceSize</key>
                <string>{212,137}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>generalSpritesheet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffe2f31e55b8601c88530ca1b10bdd49$</string>
            <key>textureFileName</key>
            <string>generalSpritesheet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
