<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,60},{10,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,27}}</string>
                <key>sourceSize</key>
                <string>{10,27}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,91},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,217},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,123},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,34},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,186},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,31},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,122},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,155},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,239},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,77},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,32},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,62},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,181},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,152},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,210},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,210},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,121},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,239},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,108},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,121},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,181},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,181},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,210},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,152},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,92},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>justthetip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,73}}</string>
                <key>sourceSize</key>
                <string>{42,73}</string>
            </dict>
            <key>magnetcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,150},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,77},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,24}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>playeramerica.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{45,24}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>playerarmor.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,62},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,11}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>playercamo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{45,24}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>playerheadstart.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,239},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{15,16}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>playermagnet.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,66},{13,9}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{13,9}}</string>
                <key>sourceSize</key>
                <string>{41,17}</string>
            </dict>
            <key>playertrippy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{45,24}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,66},{20,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,5}}</string>
                <key>sourceSize</key>
                <string>{20,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>generalSpritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37f9618a3b478feab0820cc6cb049692$</string>
            <key>textureFileName</key>
            <string>generalSpritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
