<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,104},{24,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,67}}</string>
                <key>sourceSize</key>
                <string>{24,67}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,414},{31,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,67}}</string>
                <key>sourceSize</key>
                <string>{31,67}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,142},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{72,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,104},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,207},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,349},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,344},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,65}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,276},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{72,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{72,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{72,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,416},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,173},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,211},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,343},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,334},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,280},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,142},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,280},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,464},{45,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,67}}</string>
                <key>sourceSize</key>
                <string>{45,67}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,420},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,242},{31,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,67}}</string>
                <key>sourceSize</key>
                <string>{31,67}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,287},{45,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,67}}</string>
                <key>sourceSize</key>
                <string>{45,67}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,456},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,211},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,218},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,242},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,412},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,345},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>asteroid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,280},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>asteroid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>asteroid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,460},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>asteroidbreakercoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,110},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>asteroidglowupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,138}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{147,138}}</string>
                <key>sourceSize</key>
                <string>{159,146}</string>
            </dict>
            <key>coinglowglowupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,138}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{147,138}}</string>
                <key>sourceSize</key>
                <string>{159,146}</string>
            </dict>
            <key>magnetcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>playercute.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,142},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{76,63}</string>
            </dict>
            <key>upgradecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>generalSpritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab24f0de09f49f8cf1026ac9e51d3598$</string>
            <key>textureFileName</key>
            <string>generalSpritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
