<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,434},{98,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{98,76}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>asteroid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,434},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{100,76}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>asteroidbreakercoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,124},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>asteroidhudicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,466},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,124},{39,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>coinv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,466},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>magnetcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,124},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>magnethudicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,466},{44,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>planet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,305},{123,127}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{123,127}}</string>
                <key>sourceSize</key>
                <string>{151,147}</string>
            </dict>
            <key>planet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{134,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{134,151}}</string>
                <key>sourceSize</key>
                <string>{146,183}</string>
            </dict>
            <key>planet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,35},{104,94}}</string>
                <key>sourceSize</key>
                <string>{132,164}</string>
            </dict>
            <key>planet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{120,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{120,111}}</string>
                <key>sourceSize</key>
                <string>{142,173}</string>
            </dict>
            <key>planet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{121,118}}</string>
                <key>sourceSize</key>
                <string>{157,152}</string>
            </dict>
            <key>planet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,172},{131,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{131,130}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>planet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,329},{133,135}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{133,135}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>planet8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{143,155}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{143,155}}</string>
                <key>sourceSize</key>
                <string>{157,187}</string>
            </dict>
            <key>spaceship-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,124},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>upgradecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,124},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:452fb5a3b91106f4f23997ab44e11bcd$</string>
            <key>textureFileName</key>
            <string>spriteSheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
