<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,535},{197,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{197,154}}</string>
                <key>sourceSize</key>
                <string>{219,208}</string>
            </dict>
            <key>asteroid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,734},{199,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{199,153}}</string>
                <key>sourceSize</key>
                <string>{223,167}</string>
            </dict>
            <key>asteroidbreakercoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,935},{92,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{92,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>asteroidglowupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1029},{182,172}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{182,172}}</string>
                <key>sourceSize</key>
                <string>{198,182}</string>
            </dict>
            <key>coinglowglowupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,792},{182,172}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{182,172}}</string>
                <key>sourceSize</key>
                <string>{198,182}</string>
            </dict>
            <key>magnetcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,859},{91,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>planet1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{264,266}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{264,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>planet1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,610},{247,254}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{247,254}}</string>
                <key>sourceSize</key>
                <string>{301,294}</string>
            </dict>
            <key>planet1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,340},{268,269}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{268,269}}</string>
                <key>sourceSize</key>
                <string>{302,301}</string>
            </dict>
            <key>planet1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{283,308}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{283,308}}</string>
                <key>sourceSize</key>
                <string>{313,374}</string>
            </dict>
            <key>planet2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,287},{246,279}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{246,279}}</string>
                <key>sourceSize</key>
                <string>{266,329}</string>
            </dict>
            <key>planet2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,535},{255,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{255,256}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>planet2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{264,270}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{264,270}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>planet3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{226,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,42},{226,218}}</string>
                <key>sourceSize</key>
                <string>{306,300}</string>
            </dict>
            <key>planet3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,347}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{317,347}}</string>
                <key>sourceSize</key>
                <string>{365,399}</string>
            </dict>
            <key>planet3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,792},{162,141}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{162,141}}</string>
                <key>sourceSize</key>
                <string>{208,247}</string>
            </dict>
            <key>spaceship-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,321},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>upgradecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,956},{91,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>zone.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{336,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19aa52a73a642bd3e88b2be368bb3518$</string>
            <key>textureFileName</key>
            <string>spriteSheet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
