<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,423},{195,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{195,152}}</string>
                <key>sourceSize</key>
                <string>{195,152}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,596},{186,224}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{186,224}}</string>
                <key>sourceSize</key>
                <string>{186,224}</string>
            </dict>
            <key>planet1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,577},{195,201}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{195,201}}</string>
                <key>sourceSize</key>
                <string>{195,201}</string>
            </dict>
            <key>planet2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{255,292}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{255,292}}</string>
                <key>sourceSize</key>
                <string>{255,292}</string>
            </dict>
            <key>planet3-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{314,143}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,42},{314,143}}</string>
                <key>sourceSize</key>
                <string>{314,143}</string>
            </dict>
            <key>planet4-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,822},{196,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{196,181}}</string>
                <key>sourceSize</key>
                <string>{196,181}</string>
            </dict>
            <key>planet5-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,147},{276,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{276,274}}</string>
                <key>sourceSize</key>
                <string>{276,274}</string>
            </dict>
            <key>planet6-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{298,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,296}}</string>
                <key>sourceSize</key>
                <string>{298,296}</string>
            </dict>
            <key>planet7-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{274,254}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,95},{274,254}}</string>
                <key>sourceSize</key>
                <string>{274,254}</string>
            </dict>
            <key>spaceship-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>zone-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheetCamera.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cce7b021a23f310b7451b584701592e5$</string>
            <key>textureFileName</key>
            <string>spriteSheetCamera.pvr.ccz</string>
        </dict>
    </dict>
</plist>
