<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1193},{197,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{197,154}}</string>
                <key>sourceSize</key>
                <string>{219,208}</string>
            </dict>
            <key>asteroid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1367},{199,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{199,153}}</string>
                <key>sourceSize</key>
                <string>{223,167}</string>
            </dict>
            <key>asteroidbreakercoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1650},{92,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{92,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>asteroidglowupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1744},{182,172}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{182,172}}</string>
                <key>sourceSize</key>
                <string>{198,182}</string>
            </dict>
            <key>coinglowglowupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1193},{182,172}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{182,172}}</string>
                <key>sourceSize</key>
                <string>{198,182}</string>
            </dict>
            <key>magnetcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,95},{91,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>planet1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{344,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,303}}</string>
                <key>sourceSize</key>
                <string>{344,303}</string>
            </dict>
            <key>planet1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{299,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,312}}</string>
                <key>sourceSize</key>
                <string>{299,312}</string>
            </dict>
            <key>planet1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,894},{299,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,297}}</string>
                <key>sourceSize</key>
                <string>{299,297}</string>
            </dict>
            <key>planet1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,495},{283,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,309}}</string>
                <key>sourceSize</key>
                <string>{283,309}</string>
            </dict>
            <key>planet2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,611},{316,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,281}}</string>
                <key>sourceSize</key>
                <string>{316,281}</string>
            </dict>
            <key>planet2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1445},{299,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,297}}</string>
                <key>sourceSize</key>
                <string>{299,297}</string>
            </dict>
            <key>planet2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,833},{294,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,301}}</string>
                <key>sourceSize</key>
                <string>{294,301}</string>
            </dict>
            <key>planet3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{314,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,308}}</string>
                <key>sourceSize</key>
                <string>{314,308}</string>
            </dict>
            <key>planet3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1143},{294,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,321}}</string>
                <key>sourceSize</key>
                <string>{294,321}</string>
            </dict>
            <key>planet3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{581,491}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{581,491}}</string>
                <key>sourceSize</key>
                <string>{601,505}</string>
            </dict>
            <key>planet4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{325,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,213}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>planet5-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,307},{295,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,302}}</string>
                <key>sourceSize</key>
                <string>{295,302}</string>
            </dict>
            <key>planet6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1143},{290,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,300}}</string>
                <key>sourceSize</key>
                <string>{290,300}</string>
            </dict>
            <key>spaceship-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1652},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1522},{131,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{131,126}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1744},{113,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{113,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star11.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1349},{127,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{127,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star12.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1918},{133,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{133,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1918},{133,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{133,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1744},{125,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{125,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1522},{111,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{111,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,188},{87,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{87,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1349},{59,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,8},{59,120}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,307},{33,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{33,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,448},{67,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{67,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,318},{93,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{93,128}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>upgradecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{91,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>zone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{336,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cacb1b50f3e99000c83900bf9739e6a$</string>
            <key>textureFileName</key>
            <string>spriteSheet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
