<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,849},{195,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{195,152}}</string>
                <key>sourceSize</key>
                <string>{219,208}</string>
            </dict>
            <key>planet1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,640},{207,203}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,56},{207,203}}</string>
                <key>sourceSize</key>
                <string>{233,371}</string>
            </dict>
            <key>planet2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,640},{253,264}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{253,264}}</string>
                <key>sourceSize</key>
                <string>{279,348}</string>
            </dict>
            <key>planet3-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{263,320}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{263,320}}</string>
                <key>sourceSize</key>
                <string>{279,348}</string>
            </dict>
            <key>planet4-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{298,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,283}}</string>
                <key>sourceSize</key>
                <string>{298,283}</string>
            </dict>
            <key>planet5-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{300,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,297}}</string>
                <key>sourceSize</key>
                <string>{300,297}</string>
            </dict>
            <key>planet6-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,340},{298,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,296}}</string>
                <key>sourceSize</key>
                <string>{298,296}</string>
            </dict>
            <key>spaceship-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>zone-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheetCamera.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4da3db1b58bc5e2d4be2bf219f4684e4$</string>
            <key>textureFileName</key>
            <string>spriteSheetCamera.pvr.ccz</string>
        </dict>
    </dict>
</plist>
