<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,453},{197,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{197,154}}</string>
                <key>sourceSize</key>
                <string>{219,208}</string>
            </dict>
            <key>asteroid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{199,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{199,153}}</string>
                <key>sourceSize</key>
                <string>{223,167}</string>
            </dict>
            <key>asteroidbreakercoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,909},{92,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{92,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>asteroidhudicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,901},{88,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,89}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,244},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>coinv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,901},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{90,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>magnetcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,909},{91,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>magnethudicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,244},{87,87}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{87,87}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>planet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,645},{247,254}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{247,254}}</string>
                <key>sourceSize</key>
                <string>{301,294}</string>
            </dict>
            <key>planet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{266,303}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{266,303}}</string>
                <key>sourceSize</key>
                <string>{292,365}</string>
            </dict>
            <key>planet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,244},{207,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,68},{207,190}}</string>
                <key>sourceSize</key>
                <string>{263,328}</string>
            </dict>
            <key>planet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{240,223}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,60},{240,223}}</string>
                <key>sourceSize</key>
                <string>{284,345}</string>
            </dict>
            <key>planet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,340},{244,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{244,237}}</string>
                <key>sourceSize</key>
                <string>{314,303}</string>
            </dict>
            <key>planet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{262,262}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{262,262}}</string>
                <key>sourceSize</key>
                <string>{302,300}</string>
            </dict>
            <key>spaceship-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>upgradecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,909},{91,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>zone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b8022593ecacd997e6d7d516bbc3afc$</string>
            <key>textureFileName</key>
            <string>spriteSheet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
