<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,152},{97,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{97,76}}</string>
                <key>sourceSize</key>
                <string>{97,76}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>planet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,152},{99,102}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>planet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{128,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{128,146}}</string>
                <key>sourceSize</key>
                <string>{128,146}</string>
            </dict>
            <key>planet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{157,72}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{157,72}}</string>
                <key>sourceSize</key>
                <string>{157,72}</string>
            </dict>
            <key>planet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,215},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>planet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,76},{138,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{138,137}}</string>
                <key>sourceSize</key>
                <string>{138,137}</string>
            </dict>
            <key>planet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{149,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,148}}</string>
                <key>sourceSize</key>
                <string>{149,148}</string>
            </dict>
            <key>planet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{138,126}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,48},{138,126}}</string>
                <key>sourceSize</key>
                <string>{138,126}</string>
            </dict>
            <key>spaceship-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,448},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>zone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheetCamera.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7083c079e582aedf9c26e0348474ff7$</string>
            <key>textureFileName</key>
            <string>spriteSheetCamera.pvr.ccz</string>
        </dict>
    </dict>
</plist>
