<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,838},{389,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,57},{389,302}}</string>
                <key>sourceSize</key>
                <string>{389,302}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1184},{372,448}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,26},{372,448}}</string>
                <key>sourceSize</key>
                <string>{372,448}</string>
            </dict>
            <key>planet1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1634},{390,403}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{390,403}}</string>
                <key>sourceSize</key>
                <string>{390,403}</string>
            </dict>
            <key>planet2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{512,581}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,58},{512,581}}</string>
                <key>sourceSize</key>
                <string>{512,581}</string>
            </dict>
            <key>planet3-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{627,284}}</string>
                <key>offset</key>
                <string>{0,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,85},{627,284}}</string>
                <key>sourceSize</key>
                <string>{627,284}</string>
            </dict>
            <key>planet4-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1142},{391,363}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,70},{391,363}}</string>
                <key>sourceSize</key>
                <string>{391,363}</string>
            </dict>
            <key>planet5-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,288},{553,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{553,548}}</string>
                <key>sourceSize</key>
                <string>{553,548}</string>
            </dict>
            <key>planet6-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,2},{595,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,592}}</string>
                <key>sourceSize</key>
                <string>{595,592}</string>
            </dict>
            <key>planet7-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{546,506}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,191},{546,506}}</string>
                <key>sourceSize</key>
                <string>{546,506}</string>
            </dict>
            <key>spaceship-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>zone-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{672,672}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,672}}</string>
                <key>sourceSize</key>
                <string>{672,672}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheetCamera-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ac2142cee639b9a81ef3dee733d149d$</string>
            <key>textureFileName</key>
            <string>spriteSheetCamera-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
