# Xcode
build/*
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
*.xcodeproj
*.pbxproj
*/*.xcodeproj
*/*.*pbxproj
*xcodeproj
*pbjproj
*/bin/x86/*
*\bin\x86\*
Planet Orbiting iOS Game/.DS_Store
*/*/.DS_Store

Level Creator/Level Creator/Level Creator/bin/x86/Debug/Level Creator.application

Level Creator/Level Creator/Level Creator/bin/x86/Debug/Level Creator.exe

Level Creator/Level Creator/Level Creator/bin/x86/Debug/Level Creator.exe.manifest

Level Creator/Level Creator/Level Creator/bin/x86/Debug/Level Creator.pdb

Level Creator/Level Creator/Level Creator/obj/x86/Debug/ContentPipeline-{F8C7456D-2EF7-47D0-A8DA-9F101E48B569}.xml

Level Creator/Level Creator/Level Creator/obj/x86/Debug/Level Creator.application

Level Creator/Level Creator/Level Creator/obj/x86/Debug/Level Creator.exe

Level Creator/Level Creator/Level Creator/obj/x86/Debug/Level Creator.exe.manifest

Level Creator/Level Creator/Level Creator/obj/x86/Debug/Level Creator.pdb

.DS_Store

Level Creator/Level Creator/Level Creator/obj/x86/Debug/cachefile-{F8C7456D-2EF7-47D0-A8DA-9F101E48B569}-targetpath.txt

Level Creator/Level Creator/Level Creator/Level Creator.csproj.Debug.cachefile
