# Xcode
build/*
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
*.xcodeproj
*.pbxproj
*/*.xcodeproj
*/*.*pbxproj
*xcodeproj
*pbjproj
*/bin/x86/*
*\bin\x86\*
Planet Orbiting iOS Game/.DS_Store
