<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>KCVideoTracker</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>KCVideoTracker</key>
		<dict>
			<key>KCVideoTracker</key>
			<data>
			ldqe2BeYD2M4koBwbofV2SCoVgWHFdjWkMQYTBT+8HU=
			</data>
		</dict>
	</dict>
</dict>
</plist>
