<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,84},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>asteroid2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,117},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>asteroid3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,175},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>planet1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>planet2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>planet3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>planet4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{96,90}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>planet5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,175},{72,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{72,73}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>planet6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{85,75}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>zone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,89},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>galaxy1.pvr.gz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87fabf2bc2d401b45794c1dbc612373b$</string>
            <key>textureFileName</key>
            <string>galaxy1.pvr.gz</string>
        </dict>
    </dict>
</plist>
