<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,692},{98,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{98,76}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>asteroid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,603},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{100,76}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>asteroidbreakercoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,950},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>asteroidglowupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,880},{91,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,87}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>coinglowglowupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,603},{91,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,87}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>magnetcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,902},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>planet1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{172,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,152}}</string>
                <key>sourceSize</key>
                <string>{172,152}</string>
            </dict>
            <key>planet1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{150,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>planet1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,452},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>planet1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,251},{142,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,155}}</string>
                <key>sourceSize</key>
                <string>{142,155}</string>
            </dict>
            <key>planet2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,309},{158,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,141}}</string>
                <key>sourceSize</key>
                <string>{158,141}</string>
            </dict>
            <key>planet2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,729},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>planet2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,421},{147,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,151}}</string>
                <key>sourceSize</key>
                <string>{147,151}</string>
            </dict>
            <key>planet3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{157,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,154}}</string>
                <key>sourceSize</key>
                <string>{157,154}</string>
            </dict>
            <key>planet3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{147,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,161}}</string>
                <key>sourceSize</key>
                <string>{147,161}</string>
            </dict>
            <key>planet3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,247}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{289,247}}</string>
                <key>sourceSize</key>
                <string>{301,253}</string>
            </dict>
            <key>planet4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{163,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,107}}</string>
                <key>sourceSize</key>
                <string>{163,107}</string>
            </dict>
            <key>planet5-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,156},{148,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,151}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>planet6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,577},{145,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,150}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>spaceship-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,835},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,770},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{65,63}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,835},{57,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{57,65}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,880},{63,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{63,65}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,770},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{67,63}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,681},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{67,63}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,947},{63,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{63,65}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,835},{55,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{55,65}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,452},{45,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{45,65}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,69},{31,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{31,61}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,156},{17,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{17,65}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{33,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{33,65}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,969},{47,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{47,65}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>upgradecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,519},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24322acfddbadb5cf09d123bad187f56$</string>
            <key>textureFileName</key>
            <string>spriteSheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
