<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planet1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,303}}</string>
                <key>sourceSize</key>
                <string>{344,303}</string>
            </dict>
            <key>planet2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{316,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,281}}</string>
                <key>sourceSize</key>
                <string>{316,281}</string>
            </dict>
            <key>planet3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,340},{314,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,308}}</string>
                <key>sourceSize</key>
                <string>{314,308}</string>
            </dict>
            <key>planet4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{325,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,213}}</string>
                <key>sourceSize</key>
                <string>{325,213}</string>
            </dict>
            <key>planet5-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{295,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,302}}</string>
                <key>sourceSize</key>
                <string>{295,302}</string>
            </dict>
            <key>planet6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,650},{290,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,300}}</string>
                <key>sourceSize</key>
                <string>{290,300}</string>
            </dict>
            <key>planet7-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,217},{294,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,321}}</string>
                <key>sourceSize</key>
                <string>{294,321}</string>
            </dict>
            <key>zone0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{336,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,336}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>galaxy0-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1eefbf35a5cd9e562871d82c754458a$</string>
            <key>textureFileName</key>
            <string>galaxy0-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
